<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">

      <filter type="log4net.Filter.LevelRangeFilter" >
        <levelMin value="INFO" />
        <levelMax value="ERROR" />
        <acceptOnMatch value="false" />
        <!--only Range filter other unmatch will be deny not to be process by other filter-->
      </filter>

      <filter type="log4net.Filter.StringMatchFilter" >
        <regexToMatch value="[1-9]+\d{4}" />
        <!--<stringToMatch value="warn"/>-->
        <acceptOnMatch value="true" />
      </filter>


      <filter type="log4net.Filter.DenyAllFilter" />


      <layout type="log4net.Layout.SimpleLayout"/>
    </appender>

    <root>
      <level value="ALL"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
  </log4net>

</configuration>
