<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <!--true to turn on-->
    <add key="log4net.Internal.Debug" value="false"/>
    <!--set extern config file from appConfigs-->
    <add key="log4net.Config" value="log4net.xml"/>
    <add key="log4net.Config.Watch" value="true"/>
  </appSettings>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add
            name="textWriterTraceListener"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="C:\log4net-debug.txt" />
      </listeners>
    </trace>
  </system.diagnostics>

</configuration>