<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net>

    <!--must be unique name-->
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.SimpleLayout"/>
    </appender>

    <!--default for all logger-->
    <root>
      <appender-ref ref="FileAppender"/>
      <level value="ALL"/>
    </root>

  </log4net>
</configuration>