<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type=" log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net>

    <!--appender for sending email when there is error-->
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">

      <smtpHost value="smtp.sendgrid.net" />

      <username value="theeranitp" />
      <password value="12345*****a" />

      <authentication value="Basic" />
      <port value="587" />

      <from value="system@codesanook.com" />
      <to value="theeranitp@gmail.com" />
      <subject value="SMTP Log" />

      <bufferSize value="10" />
      <layout type="log4net.Layout.SimpleLayout"/>
    </appender>


    <!--default for all logger-->
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="SmtpAppender"/>
    </root>

  </log4net>


  <appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
    <!--true to turn on-->
  </appSettings>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add
            name="textWriterTraceListener"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="C:\log4net-debug.txt" />
      </listeners>
    </trace>
  </system.diagnostics>

</configuration>